> div  {
    @include gradientbg;

    background: black;
    
    position: relative;
    
    div.globe {
        z-index: 1;
        height: 100%;
    }

    div.cities {
        position: absolute;
        bottom: 45px;
        left: 0; right: 0;
        text-align: left;
        //text-shadow: 0 1px 1px rgba(0,0,0,1);
        //background: rgba(0,0,0,0.2);

        div.cityitem {
            padding: 0 10px;
            padding-bottom: 17px;
            text-align: center;
            font-size: 17px;

            i {
                //float: left;
                margin-right: 10px;
                font-size: 22px;
            }
        }
    }

}
