@mixin linear-gradient($color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(left bottom, left top, $color-stops);
    background: linear-gradient(to top, $color-stops);
}

.text-light {
    color: #C5D1D4 !important;
    h1,h2,h3,p {
        color: #C5D1D4 !important;
    }
    div.container {
        h1,h2,h3,p {
            color: #C5D1D4 !important;
        }
    }
}
.text-dark {
    color: #676771 !important;
    h1,h2,h3,p {
        color: #676771 !important;
    }
    div.container {
        h1,h2,h3,p {
            color: #676771 !important;
        }
    }
}

.t0000 {
    @include linear-gradient(rgb(54,0,26) 0%, rgb(31,0,73) 23%, rgb(0,0,0) 100%);
}

.t0030 {
    @include linear-gradient(rgb(54,0,26) 0%, rgb(31,0,73) 23%, rgb(0,0,98) 52%, rgb(0,0,0) 100%);
}

.t0100 {
    @include linear-gradient(rgb(67,16,88) 0%, rgb(0,88,111) 40%, rgb(36,0,44) 100%);
}

.t0130 {
    @include linear-gradient(rgb(0,88,111) 0%, rgb(0,0,44) 100%);
}

.t0200 {
    @include linear-gradient(rgb(67,16,88) 0%, rgb(0,88,111) 20%, rgb(0,0,44) 100%);
}

.t0230 {
    @include linear-gradient(rgb(67,16,88) 0%, rgb(0,93,111) 70%, rgb(0,0,44) 100%);
}

.t0300 {
    @include linear-gradient(rgb(0,88,157) 0%, rgb(79,128,120) 32%, rgb(0,0,44) 98%);
}

.t0330 {
    @include linear-gradient(rgb(67,16,88) 0%, rgb(0,88,157) 20%, rgb(79,128,120) 47%, rgb(0,0,44) 98%);
}

.t0400 {
    @include linear-gradient(rgb(0,88,157) 5%, rgb(79,128,120) 57%, rgb(0,0,44) 98%);
}

.t0430 {
    @include linear-gradient(rgb(67,16,88) 0%, rgb(104,174,135) 43%, rgb(28,31,90) 98%);
}

.t0500 {
    @include linear-gradient(rgb(119,16,98) 0%, rgb(104,174,135) 30%, rgb(28,31,90) 98%);
}

.t0530 {
    @include linear-gradient(rgb(157,106,98) 0%, rgb(104,174,157) 45%, rgb(28,31,90) 97%);
}

.t0600 {
    @include linear-gradient(rgb(116,170,155) 0%, rgb(96,88,113) 45%);
}

.t0630 {
    @include linear-gradient(rgb(219,142,139) 0%, rgb(116,170,155) 68%, rgb(95,88,113) 100%);
}

.t0700 {
    @include linear-gradient(rgb(219,193,183) 18%, rgb(116,170,155) 55%);
}

.t0730 {
    @include linear-gradient(rgb(219,193,183) 18%, rgb(116,170,155) 63%, rgb(108,216,234) 98%);
}

.t0800 {
    @include linear-gradient(rgb(219,193,183) 18%, rgb(69,255,249) 75%, rgb(69,201,234) 100%);
}

.t0830 {
    @include linear-gradient(rgb(219,193,183) 18%, rgb(96,255,249) 97%);
}

.t0900 {
    @include linear-gradient(rgb(252,178,139) 0%, rgb(139,255,250) 70%, rgb(198,255,250) 96%);
}

.t0930 {
    @include linear-gradient(rgb(252,178,139) 0%, rgb(139,255,250) 100%);
}

.t1000 {
    @include linear-gradient(rgb(178,255,247) 0%, rgb(213,232,219) 72%, rgb(167,233,246) 98%);
}

.t1030 {
    @include linear-gradient(rgb(178,255,247) 0%, rgb(248,227,235) 35%, rgb(213,232,219) 72%, rgb(167,233,246) 98%);
}

.t1100 {
    @include linear-gradient(rgb(178,255,255) 0%, rgb(248,255,235) 20%, rgb(213,232,219) 70%);
}

.t1130 {
    @include linear-gradient(rgb(206,255,255) 25%, rgb(201,234,255) 100%);
}

.t1200 {
    @include linear-gradient(rgb(188,244,255) 0%, rgb(255,255,250) 75%, rgb(101,174,206) 100%);
}

.t1230 {
    @include linear-gradient(rgb(127,217,255) 0%, rgb(255,255,250) 60%, rgb(101,174,206) 100%);
}

.t1300 {
    @include linear-gradient(rgb(175,209,255) 0%, rgb(211,255,255) 45%, rgb(106,149,206) 100%);
}

.t1330 {
    @include linear-gradient(rgb(223,253,255) 15%, rgb(152,206,206) 95%);
}

.t1400 {
    @include linear-gradient(rgb(255,201,144) 5%, rgb(222,255,246) 68%, rgb(152,206,206) 97%);
}

.t1430 {
    @include linear-gradient(rgb(252,214,201) 5%, rgb(193,255,250) 57%, rgb(62,90,131) 100%);
}

.t1500 {
    @include linear-gradient(rgb(217,200,182) 30%, rgb(159,240,255) 72%, rgb(62,90,131) 98%);
}

.t1530 {
    @include linear-gradient(rgb(232,201,167) 20%, rgb(64,160,191) 100%);
}

.t1600 {
    @include linear-gradient(rgb(252,222,167) 0%, rgb(255,178,193) 30%, rgb(64,160,191) 100%);
}

.t1630 {
    @include linear-gradient(rgb(252,222,196) 0%, rgb(255,198,193) 48%, rgb(255,126,193) 95%);
}

.t1700 {
    @include linear-gradient(rgb(252,178,139) 0%, rgb(245,106,147) 60%, rgb(62,90,131) 98%);
}

.t1730 {
    @include linear-gradient(rgb(252,178,139) 5%, rgb(62,90,131) 100%);
}

.t1800 {
    @include linear-gradient(rgb(209,121,113) 20%, rgb(90,88,149) 82%, rgb(64,62,90) 100%);
}

.t1830 {
    @include linear-gradient(rgb(253,41,34) 0%, rgb(252,108,46) 10%, rgb(209,121,113) 38%, rgb(90,88,194) 82%, rgb(64,62,90) 100%);
}

.t1900 {
    @include linear-gradient(rgb(144,63,123) 5%, rgb(132,186,255) 63%, rgb(70,0,106) 90%);
}

.t1930 {
    @include linear-gradient(rgb(144,63,123) 5%, rgb(132,186,255) 22%, rgb(70,0,106) 90%);
}

.t2000 {
    @include linear-gradient(rgb(0,177,191) 5%, rgb(116,64,157) 68%, rgb(18,0,106) 95%);
}

.t2030 {
    @include linear-gradient(rgb(245,124,119) 18%, rgb(153,63,123) 55%, rgb(57,23,83) 100%);
}

.t2100 {
    @include linear-gradient(rgb(144,63,123) 0%, rgb(90,106,126) 48%, rgb(66,32,88) 100%);
}

.t2130 {
    @include linear-gradient(rgb(20,0,242) 15%, rgb(66,32,88) 78%);
}

.t2200 {
    @include linear-gradient(rgb(14,0,127) 0%, rgb(103,39,234) 10%, rgb(13,32,88) 58%, rgb(13,32,28) 95%);
}

.t2230 {
    @include linear-gradient(rgb(14,0,127) 0%, rgb(13,32,88) 58%, rgb(13,32,28) 95%);
}

.t2300 {
    @include linear-gradient(rgb(54,0,26) 0%, rgb(31,0,73) 22%, rgb(0,0,98) 52%, rgb(0,0,0) 100%);
}

.t2330 {
    @include linear-gradient(rgb(31,0,73) 23%, rgb(0,0,0) 100%);
}

