> div  {

    li[mfb-button] {
        a {
            background: blue;
        }            
        position: absolute;
        bottom: 40px;
        right: 30px;
        
    }

    div.photo {
        position: relative;
        height: auto;
        line-height: 0;
        img {
            width: 100%;
        }
        div.meta {
            line-height: 1.2;
            display: block;
            position: absolute;
            bottom: 8px; left: 8px;
            background: #fff;
            color: black;
            padding: 4px 8px;
        }
        div.share {
            position: absolute;
            bottom: 4px; right: 8px;
            font-size: 2.5em;
            color: #fff;
        }            
    }
    
}
