> div  {

    button.camera {
        background: red;

        border: 0;
        border-radius: 50%;
        font-size: 30px;
        width: 60px; height: 60px;
        color: white;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.3);

        position: absolute;
        bottom: 40px;
        right: 30px;
        
    }

    div.photo {
        position: relative;
        height: auto;
        line-height: 0;
        img {
            width: 100%;
        }
        div.meta {
            line-height: 1.2;
            display: block;
            position: absolute;
            bottom: 8px; left: 8px;
            background: #fff;
            color: black;
            padding: 4px 8px;
        }
    }
    
}
