> div  {

    li[mfb-button] {
        a {
            background: red;
            i { font-size: 30px;
                line-height: 70px; }
            width: 70px; height: 70px;
        }            
        position: absolute;
        bottom: 30px;
        right: 30px;
        list-style-type: none;
    }

    div.photo {
        position: relative;
        height: auto;
        line-height: 0;
        img {
            width: 100%;
        }
        div.meta {
            line-height: 1.2;
            display: block;
            position: absolute;
            bottom: 8px; left: 8px;
            background: #fff;
            color: black;
            padding: 4px 8px;
        }
        div.share {
            position: absolute;
            bottom: 4px; right: 8px;
            font-size: 2.5em;
            color: #fff;
            i {
                padding: 10px;
                text-shadow: 0 0 10px black;
            }
        }            
    }
    
}
