$highlight: #ffff00;

@import "gradients";

body {
    font-family: Helvetica, Arial, sans-serif;

    transition: all 1500ms;
    background: white;

    &.cloak {
        background: black;
    }
}

@mixin gradientbg {
    > .background, > .container {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
    }
}

@mixin cover {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
}

div.slider {
    height: 100%;
}
div.slider-pager {
    bottom: 0;
    left: 50%;
    width: 120px;
    margin-left: -60px;
    padding: 15px 0 30px 0;
}

ion-slide {

    > ng-include > div {
        height: 100%;
    }        

    &.globe ng-include {
        @import "globe";
    }

    &.photos ng-include {
        @import "photos";
    }

    &.about ng-include {
        @import "about";
    }
}

body.platform-ios {
    div.about div.container, div.globe div.container {
        margin-top: 15px;
    }
}
