$highlight: #ffff00;

@import "gradients";

body {
    
    transition: all 1500ms;
    background: white;

    &.cloak {
        background: black;
    }
}

@mixin gradientbg {
    > .background, > .container {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
    }
}

div.slider {
    height: 100%;
}
div.slider-pager {
    bottom: 0;
    padding: 15px 0 30px 0;
}

ion-slide {

    > ng-include > div {
        height: 100%;
    }        

    &.globe ng-include {
        @import "globe";
    }

    &.photos ng-include {
        @import "photos";
    }

    &.about ng-include {
        @import "about";
    }
}
