<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.pinkponyexpress.raduga" version="1.0" android-versionCode="10" android-versionName="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Raduga</name>
    <description>
        Raduga - Rainbow alerting and spotting
    </description>
    <author email="arjan@miraclethings.nl" href="http://miraclethings.nl/">
        Arjan Scherpenisse
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
</widget>
