<div>
    <ion-content time-gradient-background>
        <div class="background bg1"></div>
        <div class="background bg2"></div>

        <div class="container">
            <h1>About this app</h1>

            <p>
                Радуга использует текущие данные о погоде предсказать образование радуги , и посылает вам уведомление, когда радуги , скорее всего, появится в вашем районе.
            </p>
            
            <p>
                Введенный в 2013 году, в качестве реакции на запрет на отображение радугу в публичном пространстве в России , Радуга позволяет массы обнаружить и захватить радуги везде.
            </p>

            <p>Вы можете загрузить и поделиться своим собственным радуги , чтобы показать, что радуги здесь, чтобы остаться.</p>
            
            <h2>How to spot a rainbow:</h2>
            <p>You can spot a rainbow when your back is facing the sun. In front of you, rain is falling. The droplets must be plump and round, in order to refract the light so that a rainbow appears.</p>
            <p>The sun should be positioned low on the horizon. This is why most rainbows occur in the morning, and early evening.</p>

            <h2>Photo upload notice</h2>
            <p>All photos taken using this app will be freely available for other users to share and publish.</p>

            <p>
                <br/><br/>
                © Pink Pony Express
            </p>
        </div>
        
    </ion-content>
</div>
