<div time-gradient-background class="about">
    <div class="background bg1"></div>
    <div class="background bg2"></div>
    
    <ion-content>

        <div class="container">
            <h1>About this app:</h1>

            <p>Raduga uses live weather data to predict the formation of rainbows, and sends you an alert when rainbows are likely to appear in your neighbourhood.</p>
            <p>
              Introduced as a reaction to the ban on displaying the rainbow in public space in Russia, Raduga enables the masses to spot and capture rainbows everywhere.
            </p>
            
            <p>You can upload and share your own rainbows, to show that rainbows are here to stay.</p>

            <h2>How to spot a rainbow:</h2>
            <p>You can spot a rainbow when your back is facing the sun. In front of you, rain is falling. The droplets must be plump and round, in order to refract the light so that a rainbow appears.</p>
            <p>The sun should be positioned low on the horizon. This is why most rainbows occur in the morning, and early evening.</p>

            <h2>Photo upload notice</h2>
            <p>All photos taken using this app will be freely available for other users to share and publish.</p>

            <p>
                <br/>
                © Pink Pony Express
            </p>

            <p>
                <br/>
                Raduga is made possible with support from Creative Industries Fund NL, Wilhelmina E. Jansen Fund, and hundreds of donations from rainbow fans all over the world.
            </p>
            <br/><br/>
            
        </div>
        
    </ion-content>
</div>
