<div time-gradient-background class="about">
    <div class="background bg1"></div>
    <div class="background bg2"></div>

    <ion-content>

        <div class="container">
            <h1>Об этом приложении:</h1>

            <p>
                “Радуга” использует текущую метеоинформацию, чтобы предсказать возможное образование радуг, и присылает вам уведомление, когда, по счастливому случаю, радуга оказывается рядом с Вами.
            </p>
            
            <p>
                Разработанная как ответ на запрет демонстрации радуги в публичном пространстве в России, Радуга дает возможность каждому поймать и запечатлеть радугу везде.
            </p>

            <p>
                “Радуга” дает возможность широким массам определять, отслеживать и фиксировать появление радуг где бы то ни было.
            </p>

            <p>
                <br/>
                Загружайте и делитесь Вашими наблюдениями, чтобы показать, что радуги никуда не делись.
            </p>
            
            <h2>Как увидеть радугу:</h2>

            <p>Чтобы увидеть радугу повернитесь спиной к солнцу, по направлению к дождю. Для образования радуги, капли дождя должны быть толстыми и круглыми, так они смогут преломить свет.</p>

            <p>Солнце должно быть низко над горизонтом. Именно поэтому, в большинстве случаев, радугу удается увидеть утром или ранним вечером.</p>

            <h2>Сообщение о загрузке фотографий</h2>
            <p>Все фотографии, снятые с использованием данного приложения, будут находиться в свободном доступе для других пользователей, чтобы они могли поделиться ими или их опубликовать.</p>

            <p>
                <br/>
                © Пинк Пони Экспресс
            </p>


            <p>
                <br/><br/>
                Мы смогли воплотить Радугу в жизнь, благодаря поддержке Фонда Творческих Индустрий Нидерландов ,Фонда Вильгельмины Янсен и сотням донаций фанатов радуги со всего света. 
            </p>
            <br/><br/>
            
        </div>
        
    </ion-content>
</div>
