<div ng-controller="GlobeCtrl" time-gradient-background>
    <div class="background bg1"></div>
    <div class="background bg2"></div>
    <div class="container">
        <globe></globe>

        <div class="cities">
            <div ng-show="cities.length > 0" class="cityitem">
                <span>{{ 'rainbow_spotted_near'|i18n }}</span>
                <span ng-repeat="c in cities">{{ c|cityName }}{{$last ? '' : ', '}}</span>
            </div>

            <div ng-show="!cities.length" class="cityitem">
                <span>{{ 'no_rainbow_alerts'|i18n }}</span>
            </div>

        </div>

    </div>
</div>
