<div ng-controller="PhotosCtrl">
    <ion-content class="photo-scroll">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
            <div ng-repeat="photo in photos" class="photo">
                <img ng-src="{{ photo|photoUrl }}" />
                <div class="meta">
                    {{ photo|photoMeta }}
                </div>
            </div>
        </ion-list>

    </ion-content>
    
    <button class="camera" ng-click="takePicture()"><i class="icon ion-camera"></i></button>

</div>
