<div ng-controller="PhotosCtrl">
    <ion-content class="photo-scroll">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
            <div ng-repeat="photo in photos" class="photo">
                <img ng-src="{{ photo|photoUrl }}" />
                <div class="meta">
                    {{ photo|photoMeta }}
                </div>
                <div class="share">
                    <i class="icon ion-trash-a" ng-click="remove(photo)"></i>
                    <i class="icon ion-ios-flag" ng-click="flag(photo)"></i>
                    <i class="icon ion-share" ng-click="share(photo)"></i>
                </div>
            </div>
        </ion-list>

    </ion-content>
    
    <button mfb-button icon="ion-camera" ng-click="takePicture()"></button>

</div>
